@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

	
body { 
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	background-color:#EEE9DB ; 
	word-spacing: 4px;
	letter-spacing: 4px;
  }
}
h4{
	color:black;
	padding-bottom: 15px;
	margin:0;
}
.a{
	margin-left:20px;
	padding:40px;
}

 h1{
	font-size: 30px;
	margin-left: 50%;
	padding:13px 0;
}
.icon{
	width: 70px;
	height: 70px;

}

.admin{
	margin-left: 60px;
}

.textbox1{
	width:80px;
	height:100px;

}
.textbox2{
	width:80px;
	height:100px;
	position:absolute;
	bottom:0px;
}
.design{
	width:100%;

}
.design input[type="text"],.design input[type="password"]{
	border:0;
	background: none;
	text-align: center;
	border:2px solid #ae285d;
	border-radius: 15px;
	outline:none;
	width:80px;
	transition:0.25s;
	padding:5px;
}



.btn1{
	width:30%;
	margin-top: 20px;
	margin-right: 90px;
	margin-bottom: 20px;
	background: none;
	border:2px solid #ae285d;
	color:black;
	font-size: 18px;
	cursor:pointer;
}
.btn2{
	width:30%;
	margin-top: 20px;
	background: none;
	border:2px solid #ae285d;
	color:black;
	font-size: 18px;
	cursor:pointer;
	margin-bottom: 20px;
}
.btn1:hover{
	background:#ae285d;
}
.btn2:hover{
	background:#ae285d;
}
.top_container{
	background-color: rgba(6, 12, 6, 0.467);
	margin: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 10px;
}
.title{
	color:white;
}
.row{
	width:100%;
	display: flex;
	clear: both;
}
.col{
	width:10%;
}
#row{
	width:100%;
	display: flex;
	clear: both;
}
.container{
	padding:20px;
}
.col-1{
	width:40%;
}
.pos1{
	margin-left:105px;
}
.pos2{
	margin-left:105px;
}
